#ghostAnimated {
  animation: ghostAnimation 5s ease 0s infinite normal forwards;
  width: fit-content;
}

#heartAnimated {
  color: red;
  width: fit-content;
  animation: heartAnimation 2s ease 0s infinite normal forwards;
}

#bellAnimated {
  width: fit-content;
  &:hover {
    animation: wobbleAnimation 2s ease 0s infinite alternate forwards;
  }
}

.svg_animations {
  //dark #635bff
  //light #80e9ff

  svg {
    cursor: pointer;
  }

  #darkGroup {
    fill: #635bff;
  }

  #lightGroup {
    fill: #80e9ff;
  }

  #dark1,
  #light1,
  #dark2 {
    transition: all 1s ease;
  }

  #dark2 {
    transform: translateX(-100%);
  }

  svg:hover #light1 {
    transform: translateX(20%);
  }
  svg:hover #dark1 {
    transform: translateX(40%);
    opacity: 0;
  }
  svg:hover #dark2 {
    transform: translateX(0%);
  }
}
@keyframes wobbleAnimation {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

@keyframes ghostAnimation {
  0.0% {
    transform: scale(1) translate(-100px, 0) skew(0deg);
  }
  39.9% {
    transform: scale(1) translate(100px, 0) skew(-5deg);
  }
  45.3% {
    transform: scale(1) translate(100px, -6px) skew(0deg);
  }
  5.1% {
    transform: scale(1) translate(-100px, 0) skew(-12deg);
  }
  50.3% {
    transform: scale(1) translate(100px, 0px) skew(0deg);
  }
  55.3% {
    transform: scale(1) translate(100px, -10px) skew(0deg);
  }
  60.3% {
    transform: scale(1) translate(100px, 0px) skew(5deg);
  }
  95.1% {
    transform: scale(1) translate(-100px, 0) skew(12deg);
  }
  99.6% {
    transform: scale(1) translate(-100px, 0) skew(0deg);
  }
}

@keyframes heartAnimation {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
