// theme/_theme.scss

@import "./fonts";
@import "./colors";

.is-secondary {
    color: $secondary;
    background-color: $secondary;
}

.is-logo {
    font-family: $header-font;
}

.container {
        padding-left: 2%;
        padding-right: 2%;  
}

// classname with number as props (e.g. .is-heading-1)
.is-heading-1 {
    font-family: $header-font;
    font-size: 4rem;
    line-height: 4rem;
}

.is-heading-2 {
    font-family: $header-font;
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.is-heading-3 {
    font-family: $header-font;
    font-size: 3rem;
    line-height: 3rem;
}
