// theme/_theme.scss

@import "./fonts";
@import "./colors";

.is-secondary {
  color: $secondary;
  background-color: $secondary;
}

// container on mobile bigger
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

// classname with number as props (e.g. .is-heading-1)
// .is-heading-1 {
//   font-family: $header-font;
//   font-size: 4rem;
//   line-height: 4rem;
// }

// .is-heading-2 {
//   font-family: $header-font;
//   font-size: 3.5rem;
//   line-height: 3.5rem;
// }

// .is-heading-3 {
//   font-family: $header-font;
//   font-size: 3rem;
//   line-height: 3rem;
// }

::-moz-selection {
  /* Code for Firefox */
  color: dimgray;
  background: $primary;
}

::selection {
  color: dimgray;
  background: $primary;
}
